
@{
    ViewData["Title"] = "About";
}

<div class="text-dark text-center border border-dark">
    <h1>About the Website</h1>
    <p>Welcome to OSRS Price Watch! This website is designed to let you view OSRS Grand Exhange prices no matter where you are. <br/>You can also create an account to favorite
    your most viewed items for easy access!</p>
    <br/>
    <p>To get started, create an account and navigate to the stocks page. From there you have a choice to view item categories or search for any item that you want.</p>
</div>