@model OSRS_PRICE_WATCH.Models.Items
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>@Model.ItemID</h3>
</body>
</html>
