@model RootobjectOsrsGe[]

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="~/lib/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="~/lib/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/lib/assets/css/Article-List.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="~/lib/assets/css/smoothproducts.css">
</head>

<body>
    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Recent Blog Posts</h2>
                <p>Check out&nbsp;<br><a href="https://oldschool.runescape.com/">https://oldschool.runescape.com</a> for more information.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <img class="card-img-top w-100 d-block mx-auto" src="~/lib/Pictures/gauntlethumb.jpg" />
                        <div class="card-body info">
                            <h4 class="card-title">Poll 71 and Death Feedback Changes</h4>
                            <p class="card-text">This week sees another round of changes from Poll #71, alterations to the new death mechanics and an update on our chat filter.</p>
                            <a class="btn btn-outline-danger" href="https://secure.runescape.com/m=news/a=13/poll-71-and-death-feedback-changes?oldschool=1">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <img class="card-img-top w-100 d-block mx-auto" src="~/lib/Pictures/deathnail.jpg">
                        <div class="card-body info">
                            <h4 class="card-title">Death Changes</h4>
                            <p class="card-text">This week’s update introduces the new Death System.</p>
                            <a class="btn btn-outline-danger" href="https://secure.runescape.com/m=news/a=13/death-changes?oldschool=1">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 ">
                    <div class="card clean-card text-center">
                        <img class="card-img-top w-100 d-block mx-auto" src="~/lib/Pictures/rocknail.jpg">
                        <div class="card-body info">
                            <h4 class="card-title">Poll 71 and Darkmeyer Updates</h4>
                            <p class="card-text">This week’s update brings further changes from Poll #71 and updates to Darkmeyer.</p>
                            <a class="btn btn-outline-danger" href="https://secure.runescape.com/m=news/a=13/poll-71-and-darkmeyer-updates?oldschool=1">Read More</a>
                            

                            <div class="icons"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Featured Items</h2>
                <p>The top 3 items based on their weekly price increase!</p>
            </div>
            <div class="row justify-content-center">
                @foreach (var item in Model)
                {
                <div class="col-sm-6 col-lg-4">
                    <div class="card clean-card text-center">
                        <img class="card-img-top w-100 d-block mx-auto" src="@item.item.icon_large" style="max-height:40%; max-width:40%;">
                        <div class="card-body info">
                            <h4 class="card-title">@item.item.name</h4>
                            <p class="card-text">Price: @item.item.current.price</p>
                            <div class="icons"></div>
                        </div>
                    </div>
                </div>
                }  
            </div>
        </div>
    </section>
    <section class="clean-block about-us"></section>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/smoothproducts.min.js"></script>
    <script src="/theme.js"></script>
    <script id="bs-live-reload" data-sseport="55481" data-lastchange="1593644665549" src="/js/livereload.js"></script>
</body>

</html>


