@model ConsoleApp7._Items

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container-fluid ">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-6">
                <h2 class="text-light text-center">Recent Game Updates</h2>
                <div class="card align-content-center" style="width: 18rem;">
                    <img class="card-img-top" src="~/lib/Pictures/Old_School_Runescape_Logo.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Cannot access this blog post on a school network</p>
                        <a href="#" class="btn btn-primary">Read More...</a>
                    </div>
                </div>
                <br />
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/lib/Pictures/Old_School_Runescape_Logo.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Cannot access this blog post on a school network</p>
                        <a href="#" class="btn btn-primary">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 text-light">
                <h2 class="text-light text-center">Featured Items</h2>

                <div class="card text-dark" style="width:18rem;">
                    <img class="card-img-top" src="~/lib/Pictures/whip1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Abyssal Whip</h5>
                        <p class="card-text">Price: 2,873,797 coins</p>
                        <a href="#" class="btn btn-primary">More Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>





@*<div class="container">
        <div class="card-columns d-flex justify-content-center">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a longer card with shorter text.</p>
                </div>
            </div>
        </div>
    </div>*@