@model  ConsoleApp7._Items
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    <h2>This is the search page</h2>
    <h3>@Model.name</h3>
    <p>Price: @Model.cost</p>
</body>
</html>
