@model OsrsBoxImplementation._Items

<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <div class="container"></div>
    <div class="card-group text-center" style="height: 402px;margin: 26px;padding: 5px;">
        <div class="card">
            <img class="card-img-top w-100 d-block mx-auto" src="~/lib/Stocks Page/assets/img/magic logs.gif" style="max-height: 40%;max-width: 40%;padding: 29px;">
            <div class="card-body">
                <h4 class="card-title">Woodcutting</h4>
                <p class="card-text">Logs, Oak Logs, Willow Logs, Maple Logs, Magic Logs </p>
                <a class="btn btn-outline-primary" href="/categories/woodcutting" type="button">View More</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top w-100 d-block mx-auto" src="~/lib/Stocks Page/assets/img/dragon platebody.png" style="max-height: 40%;max-width: 40%;padding: 29px;">
            <div class="card-body">
                <h4 class="card-title">Armor</h4>
                <p class="card-text">Bandos, Dragon, Justiciar</p>
                <a class="btn btn-outline-primary" type="button" href="/categories/armor">View More</a>

            </div>
        </div>
    </div>
    <div class="card-group text-center" style="height: 546px;margin: 26px;padding: 5px;">
        <div class="card">
            <img class="card-img-top w-100 d-block mx-auto" src="~/lib/Stocks Page/assets/img/runiteore.png" style="max-height: 40%;max-width: 40%;padding: 29px;">
            <div class="card-body">
                <h4 class="card-title">Mining</h4>
                <p class="card-text">Bronze ore, Mithril ore, Adamant Ore, Runite ore</p>
                <a class="btn btn-outline-primary" href="/categories/mining" type="button">View</a>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top w-100 d-block mx-auto" src="~/lib/Stocks Page/assets/img/sara brew.png" style="max-height: 40%;max-width: 40%;padding: 29px;">
            <div class="card-body">
                <h4 class="card-title">Potions</h4>
                <p class="card-text">Saradomin Brew, Super Combat Potion, Super Ranging Potion, Bastion Potion</p>
                <a class="btn btn-outline-primary" href="/categories/potions" type="button">View More</a>
            </div>
        </div>
    </div>
    <div class="card-group text-center" style="height: 579px;margin: 26px;padding: 5px;">
        <div class="card">
            <img class="card-img-top w-100 d-block mx-auto" src="~/lib/Stocks Page/assets/img/shark.png" style="max-height: 40%;max-width: 40%;padding: 29px;">
            <div class="card-body">
                <h4 class="card-title">Food</h4>
                <p class="card-text">Shark, Monkfish, Karambwan, Pizza</p>
                <a class="btn btn-outline-primary" href="/categories/food" type="button">View</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top w-100 d-block mx-auto" src="~/lib/Stocks Page/assets/img/whip.png" style="max-height: 40%;max-width: 40%;padding: 29px;">
            <div class="card-body">
                <h4 class="card-title">Weapons</h4>
                <p class="card-text">Abyssal Whip, Dragon Scimitar, Twisted Bow, Elder Maul</p>
                <a class="btn btn-outline-primary" href="/categories/weapons" type="button">View More</a>
            </div>
        </div>
    </div>
    <div class="card"></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/freelancer.js"></script>
</body>

</html>


@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <h3>@Model.name</h3>
        <p>Price = @Model.cost</p>

        <form asp-action="Index" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Name</label><input asp-for="name" class="form-control" />
            </div>
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </div>

            <a class="btn btn-primary" href="/categories/weapons">Weapons</a>
            <a class="btn btn-primary" href="/categories/armor">Food</a>
            <a class="btn btn-primary" href="/categories/mining">Mining</a>
            <a class="btn btn-primary" href="/categories/woodcutting">Woodcutting</a>
            <a class="btn btn-primary" href="/categories/runes">Runes</a>
            <a class="btn btn-primary" href="/categories/potions">Potions</a>
        </form>
    </body>
    </html>*@
