<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/lib/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="~/lib/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/lib/assets/css/Article-List.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="~/lib/assets/css/smoothproducts.css">
</head>

<body>
    <br />
    <br />
    <br />
    <p class="text-danger">@TempData["Error"]</p>
    <partial name="SearchBar" />
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-group text-center" style="height: 402px;margin: 26px;padding: 5px;">
                <div class="card">
                    <img class="card-img-top w-100 d-block mx-auto" src="~/lib/Stocks Page/assets/img/magic logs.gif" style="max-height: 40%;max-width: 40%;padding: 29px;">
                    <div class="card-body">
                        <h4 class="card-title">Woodcutting</h4>
                        <p class="card-text">Logs, Oak Logs, Willow Logs, Maple Logs, Magic Logs </p>
                        <a class="btn btn-outline-primary" href="/categories/woodcutting" type="button">View More</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top w-100 d-block mx-auto" src="~/lib/Stocks Page/assets/img/dragon platebody.png" style="max-height: 40%;max-width: 40%;padding: 29px;">
                    <div class="card-body">
                        <h4 class="card-title">Armor</h4>
                        <p class="card-text">Bandos, Dragon, Justiciar</p>
                        <a class="btn btn-outline-primary" type="button" href="/categories/armor">View More</a>

                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top w-100 d-block mx-auto" src="~/lib/Stocks Page/assets/img/runiteore.png" style="max-height: 40%;max-width: 40%;padding: 29px;">
                    <div class="card-body">
                        <h4 class="card-title">Mining</h4>
                        <p class="card-text">Bronze ore, Mithril ore, Adamant Ore, Runite ore</p>
                        <a class="btn btn-outline-primary" href="/categories/mining" type="button">View</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-group text-center" style="height: 579px;margin: 26px;padding: 5px;">
                <div class="card">
                    <img class="card-img-top w-100 d-block mx-auto" src="~/lib/Stocks Page/assets/img/sara brew.png" style="max-height: 40%;max-width: 40%;padding: 29px;">
                    <div class="card-body">
                        <h4 class="card-title">Potions</h4>
                        <p class="card-text">Saradomin Brew, Super Combat Potion, Super Ranging Potion, Bastion Potion</p>
                        <a class="btn btn-outline-primary" href="/categories/potions" type="button">View More</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top w-100 d-block mx-auto" src="~/lib/Stocks Page/assets/img/shark.png" style="max-height: 40%;max-width: 40%;padding: 29px;">
                    <div class="card-body">
                        <h4 class="card-title">Food</h4>
                        <p class="card-text">Shark, Monkfish, Karambwan, Pizza</p>
                        <a class="btn btn-outline-primary" href="/categories/food" type="button">View</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top w-100 d-block mx-auto" src="~/lib/Stocks Page/assets/img/whip.png" style="max-height: 40%;max-width: 40%;padding: 29px;">
                    <div class="card-body">
                        <h4 class="card-title">Weapons</h4>
                        <p class="card-text">Abyssal Whip, Dragon Scimitar, Twisted Bow, Elder Maul</p>
                        <a class="btn btn-outline-primary" href="/categories/weapons" type="button">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>


