@model RootobjectOsrsGe
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
@Model.item.icon_large
    @Model.item.day180.trend
</body>
</html>
